@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');


body {
    background: #1a1919;
    color: var(--color-text);
    line-height: 1.3;
    // font-family: 'Lato', sans-serif;
    font-family: Montserrat;
    font-size: 14px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

#root {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1 0 auto;
    background: #f6f4f2;
}

section {
    padding: 50px 0 !important;
}

a {
    text-decoration: none;
}

