#root {
    --color-active: #b89754;
    --color-text: #fff;
    --color-text2: rgb(17,17,17);
    --color-text3: rgb(49, 49, 49);
    --color-background: #303841;
    --color-hover: rgb(255, 255, 255);

}