.cards {
    columns: auto 300px;
    // break-before: column;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    gap: 50px;

    &__title {
        font-size: 30px;
        text-align: center;
        line-height: 35px;
        margin-bottom: 60px;
    }
}


.products {
    margin-top: -190px;
    background: transparent;
    z-index: 40;

    &__buttons {
        display: flex;
        justify-content: end;
        gap: rem(15);
        margin-bottom: rem(15);
        padding-right: rem(70);

            button {
                background-color: #1a1919;
                display: inline-block;
                line-height: 34px;
                padding: rem(0) rem(20); 
                color:#fff;
                text-transform: uppercase;
                letter-spacing: rem(2);
                opacity: 0.9;
            }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 399px));
        grid-template-rows: rem(300);
        // grid-auto-rows: auto;
        gap: rem(50);
        justify-content: center;
        margin: 0 auto;
        margin-bottom: rem(50);
    }

    &__paginator {
        display: flex;
        flex-direction: column;
        align-items: center;

     }

     &__shown {
        padding: 0 rem(8);
        color: #b4b4b4;
        letter-spacing: 0.5px;
        position: relative;
        margin-bottom: rem(5);
        text-align: center ;
        font-size: rem(12);

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: rem(-130);
            width: rem(130);
            height: rem(1);
            background: linear-gradient(to left,#b4b4b4,rgba(180,180,180,0));
        }


        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: rem(-130);
            width: rem(130);
            height: rem(1);
            background: linear-gradient(to right,#b4b4b4,rgba(180,180,180,0));
        }
     }
}


.filter {

    grid-row: span 1;
    margin: 0 auto;
    background: #231f20;
    max-width: 399px;
    // width: 100%;
    z-index: 40;
    color: #fff;
    padding: 32px 40px;
    box-shadow: 0 0 15px white;
    margin-bottom: 50px;


    &__list {
        color: #9e9179;
        letter-spacing: 1px;
        display: flex;
        gap: 5px;
        margin-bottom: 40px;
        font-size: 12px;
    }

    &__title {
        font-size: 12px;
        letter-spacing: 2px;
        line-height: 14px;
        margin-bottom: 30px;
    }

    &__button {
        color: white;
        padding: 0 17px;
        border: 1px solid #fff;
        background: transparent;
        line-height: 32px;
        margin: 0 8px 10px 0px;
        border-radius: 16px;
    }

    &__link {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            height: 1px;
            width: 0%;
            background: #9e9179;
            transition: all 0.3s ease;

        }

        &:hover::after {
            width: 100%;
        }
    }
}