.card {
    break-inside: avoid;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    background-color: #fff;
    font-size: 24px;
    padding: 15px;
    transition: all 0.4s ease;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    cursor: auto;

    &__image {
        width: 100%;
        height: 100%;
    }

    .swiper {
        width: 100%;
    }

    .swiper-pagination-bullet {
        width: 20px;
        height: 5px;
        background: #b4b4b4d1;
        border-radius: 2px;
        transition: all 0.3s ease;
    }

    &__colors-list {
        display: flex;
        gap: 10px;
        margin-bottom: 5px;
        max-width: 100%;
        overflow-x: auto;
        padding-bottom: 10px;
    }
 
    &__colors-item {
        font-size: 14px;
        transition: all 0.3s ease;
        border: 1px solid #b4b4b4;
        padding: 5px 8px;
        cursor:pointer
    }
    &__colors-item.active {
        border: 1px solid black;
        background: #b4b4b43a;
        // background: #c8f30aa3;
    }


    &__old-price {
        color: #8c8c8c;
        text-decoration: line-through;
        margin-left: 5px;
        font-size: 12px;
    }
    &__title {
        margin-top: 15px;
        font-size: 20px;
    }

    &:hover {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
        // transform: scale(1.015);
    }

    &__price {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 500;
    }

    &__extra-options{
        display: flex;
        gap: 10px;
        margin-bottom: 5px;
        overflow-x: auto;
        max-width: 100%;
        padding-bottom: 10px;
    }
    &__extra-options-item {
        border: 1px solid #b4b4b4;
        // padding: 2px 2px;
        min-width: 40px;
        font-size: 14px;
        cursor: pointer;
        position: relative;
        transition: all 0.3s ease;
        padding: 5px 8px;

    }
    &__extra-options-title {
        font-weight: 400;
        text-decoration: underline;
        display: block;
        font-size: 14px;
        margin-bottom: 10px;
    }
    &__extra-options-item.selected {
        border: 1px solid black;
        background: #b4b4b43a;
    }
    &__extra-options-item:hover {
        border: 1px solid black;
    }


    &__button {
        display: inline-block;
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 15px;
        border: 1px solid #b4b4b4;
        padding: 10px 35px;
        color: #1a1919;
        background: transparent;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
            border: 1px solid #1a1919;
        }
    }

    &__descr {
        margin-top: 8px;
        font-size: 15px;
        color: #1a1919;
        opacity: 0.5;
        line-height: 25px;
        height: 43px;
        width: 300px;
    }

    &__photo {
        object-fit: cover;
        width: 100%;
        top: 0;
        left: 0;
        transition: all 0.3s ease;
        height: 200px;
    }
}


/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }
  
  /* Set the background color of the scrollbar */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  /* Set the color of the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }
  